
*.pyc
/Splendor/Environment/Splendor_components/Board_components/__pycache__
/Splendor/RL/trained_agents
/Splendor/meta/images_backup
Splendor/states.csv
Splendor/next_states.csv
*.pkl
/Splendor/RL/saved_files/rendered_games
/Splendor/RL/saved_files/game_states
/Splendor/RL/saved_files/tensorboard_logs
/Splendor/meta/To-Do list.txt
/Splendor/RL/saved_files/memory.pkl
